body{
    background-image: url("background.jpg");
    background-attachment: fixed;
	background-size: 100%;

}

.game-container {
    height: 60vh;
    width: 50vw;
}

.score-board {
    border: ridge #050505 35px;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.current-word {
    min-height: 5%;
    font-size: 44px;
    letter-spacing: 10px;
    border-bottom: groove #080808 3px;
}

.hidden {
    display: none;
}